#app {
  .sidebar-container {
    transition: width 0.28s;
    width: 256px !important;
    height: 100%;
    position: fixed;
    float: left;
    font-size: 0px;
    top: $topHeight;
    bottom: 0;
    left: 0;
    z-index: 1001;
    overflow: hidden;

    // 单一级菜单打开时显示颜色,貌似没什么用
    .el-submenu.is-opened {
      .el-submenu__title {
        &:hover {
          background-color: $menuHover !important;
          color: $fontActive ;
        }
        // 展开时显示颜色,貌似也没什么用
        // background-color:$menuHover !important;
      }
  }

  li.is-active {
    background-color: $menuHover !important;
    
 }
 // 菜单li标签hover变色
 li:hover {
           background-color:$menuHover !important;
           color: $fontActive ;
         }
      
 // 以下是单独陪一二级颜色
 // 当子菜单栏被点击时背景
 .el-menu-item.is-active {
    background-color: #409EFF !important;
 }
 // 一级菜单被点击时背景
 // .el-menu-vertical-demo.is-active {
 //    background-color: #409EFF ;
 // }
    // 多余部位背景颜色
    background-color: $menuBg;
  //  侧边栏关闭动画重写
    .horizontal-collapse-transition {
      transition: 0s width ease-in-out, 0s padding-left ease-in-out, 0s padding-right ease-in-out;
    }

    .el-scrollbar__bar.is-vertical {
      right: 0px;
    }

    .scrollbar-wrapper {
      overflow-x: hidden !important;

      .el-scrollbar__view {
        height: 100%;
      }
    }

    .is-horizontal {
      display: none;
    }

    a {
      display: inline-block;
      width: 100%;
      overflow: hidden;
    }
    .el-menu {
      border: none;
      height: 100%;
      width: 100% !important;
      background-color:$menuBg;
    }

// 图标与字体的间距
    .fa-margin {
      margin-right: 8px;
    }
// 图标大小
    i {
      font-size: 16px;
     
    }
// 字体大小
    span {
      font-size: 14px;
    }
 
  }
// 隐藏侧边栏样式
  .hideSidebar {
    .sidebar-container {
      width: 64px !important;
    }

    .main-container {
      margin-left: 64px;
    }

    .submenu-title-noDropdown {
      padding-left: 10px !important;
      position: relative;

      .el-tooltip {
        padding: 0 10px !important;
        
      }
    }

    .el-submenu {
      overflow: hidden;
      &>.el-submenu__title {
        // 下面控制图标的padding,默认是居中,不用放出来
        // padding-left: 10px !important;
        //  color: #fff;
        .el-submenu__icon-arrow {
          display: none;
        }
      }
    }
// 当折叠时显示的样式11
    .el-menu--collapse {
      .el-submenu {
        &>.el-submenu__title {
          &>span {
            height: 0;
            width: 0;
            overflow: hidden;
            visibility: hidden;
            display: inline-block;
          }
        }
      }
    }
    // 隐藏单独样式结束
  }

  .sidebar-container .nest-menu .el-submenu>.el-submenu__title,
  // 当点击展开时的背景
  .sidebar-container .el-submenu .el-menu-item {
    min-width: 256px !important;
    background-color: $subMenuBg ;
   
// 当鼠标移到上面时颜色
    &:hover {
      background-color: $menuHover !important;
      color: $fontActive ;
    }

  }

  .el-menu--collapse .el-menu .el-submenu {
    min-width: 64px !important;
  }

  //适配移动端1
  .mobile {
    .main-container {
      margin-left: 0px;
    }

    .sidebar-container {
      transition: transform .28s;
      width: 256px !important;
    }

    &.hideSidebar {
      .sidebar-container {
        transition-duration: 0.3s;
        transform: translate3d(-256px, 0, 0);
      }
    }
  }

  .withoutAnimation {
    .main-container,
    .sidebar-container {
      transition: none;
    }
  }
}