#app {
  .sidebar-container {
    transition: width 0.28s;
    width: 256px !important;
    height: 100%;
    position: fixed;
    float: left;
    font-size: 0px;
    // top: $topHeight;
    bottom: 0;
    left: 0;
    z-index: 1001;
    overflow: auto;

    .avatarleft {
      height: 16px;
      width: 16px;
      display: inline-block;
      margin-right: 8px;
    }

    // 单一级菜单打开时显示颜色,貌似没什么用
    .el-submenu {
      .el-submenu__title {
        color: $fontColor;
      }


      .is-opened {
        .el-submenu__title {

          &:hover {
            background-color: $menuHover !important;
            color: $fontActive;
          }

          // 展开时显示颜色,貌似也没什么用
          // background-color:$menuHover !important;
        }
      }
    }

    //   li.is-active {
    //     background-color: $menuHover !important;

    //  }
    // 菜单li标签hover变色
    //  li:hover {
    //            background-color:$menuHover !important;
    //            color: $fontActive ;
    //          }

    // 以下是单独陪一二级颜色
    // 当子菜单栏被点击时背景
    .el-menu-item.is-active {
      background-color: #409EFF !important;
    }

    .el-menu-item {
      color: $fontColor;
    }

    .el-submenu__title:focus,
    .el-submenu__title:hover {
      background-color: $menuHover;
    }

    .el-menu-item:focus,
    .el-menu-item:hover {
      background-color: $menuHover;
    }

    // 一级菜单被点击时背景
    // .el-menu-vertical-demo.is-active {
    //    background-color: #409EFF ;
    // }
    // 多余部位背景颜色
    background-color: $menuBg;

    // logo样式
    .logo-contener {
      margin-left: 36px;
      margin-top: 12px;
      height: 40px;
      width: 184px;
      background: url(../assets/logo.png) no-repeat;
      background-size: 100% 100%;


    }

    //  侧边栏关闭动画重写
    .horizontal-collapse-transition {
      transition: 0s width ease-in-out, 0s padding-left ease-in-out, 0s padding-right ease-in-out;
    }

    .el-scrollbar__bar.is-vertical {
      right: 0px;
    }
// 隐藏滑动条
    .el-scrollbar__thumb {
      display: none;
    }

    .el-scrollbar__wrap {
      overflow-x: hidden;
      overflow-y: auto;
    }

    .scrollbar-wrapper {
      overflow-x: hidden !important;

      .el-scrollbar__view {
        height: 100%;
      }
    }

    .is-horizontal {
      display: none;
    }

    a {
      display: inline-block;
      width: 100%;
      overflow: hidden;
    }

    .el-menu {
      border: none;
      height: 100%;
      width: 100% !important;
      background-color: $menuBg;

    }

    // 图标与字体的间距
    .fa-margin {
      margin-right: 8px;
    }

    // 图标大小
    i {
      font-size: 16px;

    }

    // 字体大小
    span {
      font-size: 14px;
    }

  }

  // 隐藏侧边栏样式,对部分属性重写
  .hideSidebar {
    .sidebar-container {
      width: 64px !important;
    }

    .main-container {
      margin-left: 64px;
      // width: calc(100% - 64px);
    }

    .head-nav {
      width: calc(100% - 64px);

    }

    .submenu-title-noDropdown {
      padding-left: 10px !important;
      position: relative;

      .el-tooltip {
        padding: 0 10px !important;

      }
    }

    .el-submenu {
      overflow: hidden;

      &>.el-submenu__title {

        // 下面控制图标的padding,默认是居中,不用放出来
        // padding-left: 10px !important;
        //  color: #fff !important;
        .el-submenu__icon-arrow {
          display: none;
        }
      }
    }

    // 当折叠时显示的样式
    .el-menu--collapse {
      .el-submenu {
        &>.el-submenu__title {
          &>span {
            height: 0;
            width: 0;
            overflow: hidden;
            visibility: hidden;
            display: inline-block;
          }
        }
      }
    }

    // 隐藏时logo的样式
    .logo-contener {
      margin-left: 9px;
      margin-top: 12px;
      height: 39px;
      width: 50px;
      background: url(../assets/logo.png) no-repeat;
    }

    // 隐藏单独样式结束
  }

  .sidebar-container .nest-menu .el-submenu>.el-submenu__title,
  // 当点击展开时的背景
  .sidebar-container .el-submenu .el-menu-item {
    min-width: 256px !important;
    background-color: $subMenuBg;

    // 当鼠标移到上面时颜色
    &:hover {
      background-color: $menuHover !important;
      color: $fontActive;
    }

  }

  .el-menu--collapse .el-menu .el-submenu {
    min-width: 64px !important;
  }

  //适配移动端1
  .mobile {
    .main-container {
      margin-left: 0px;
      width: 100%;

      .head-nav {
        width: 100%;
      }

    }

    .sidebar-container {
      transition: transform .28s;
      width: 256px !important;
    }

    &.hideSidebar {
      .sidebar-container {
        transition-duration: 0.3s;
        transform: translate3d(-256px, 0, 0);
      }
    }
  }

  .withoutAnimation {

    .main-container,
    .sidebar-container {
      transition: none;
    }
  }
}