
$menuBg:#001529;
// $menuBg:red;
// 项目展开时触发的所有项目颜色
$subMenuBg:#000c17;
// 鼠标在项目上的hover颜色
$menuHover:#1890ff;
// 项目被激活时字体颜色
$fontActive:#fff;
// 离顶部高度
$topHeight:64px;
// 侧边栏字体默认颜色
$fontColor:#9fa7ae;
// 无内容背景
$NonbugColor:#F0F2F5;